{% extends 'comparative_app/base.html' %}

<!-- Page content -->
{% block content %}
<div class="container">
    <br><br><br>
    <table class="ui celled table hover" id="value_by_affixal_morphemes">
        <thead>
            <tr>
                <th>Грамматические значения</th>
                <th>Азербайджанский</th>
                <th>Алтайский</th>
                <th>Башкирский</th>
                <th>Гагаузский</th>
                <th>Долганский</th>
                <th>Казахский</th>
                <th>Караимский (Галичский диалект)</th>
                <th>Караимский (Тракайский диалект)</th>
                <th>Каракалпакский</th>
                <th>Карачаево-балкарский</th>
                <th>Кашкайский</th>
                <th>Киргизский</th>
                <th>Крымскотатарский</th>
                <th>Крымчакский</th>
                <th>Кумандинский</th>
                <th>Кумыкский</th>
                <th>Ногайский</th>
                <th>Ортатюрк</th>
                <th>Саларский</th>
                <th>Сибирско-татарский</th>
                <th>Татарский</th>
                <th>Телеутский</th>
                <th>Тофаларский</th>
                <th>Тувинский</th>
                <th>Турецкий</th>
                <th>Туркменский</th>
                <th>Узбекский (Кириллица)</th>
                <th>Узбекский (Латиница)</th>
                <th>Уйгурский</th>
                <th>Урумский</th>
                <th>Хакасский</th>
                <th>Халаджский</th>
                <th>Чалканский</th>
                <th>Чувашский</th>
                <th>Чулымский</th>
                <th>Шорский</th>
                <th>Якутский (Саха)</th>
            </tr>
        </thead>
        <!-- Data from back-end -->
    </table>
</div> <!-- END // container -->
<br><br><br><br>



{% endblock content %}