{% extends 'comparative_app/base.html' %}

<!-- Page content -->
{% block content %}
<div class="container">
    <br><br><br>
    <table class="ui celled table hover" id="root_concepts">
        <thead>
            <tr>
                <th>Концепты</th>
                <th>Азербайджанский</th>
                <th>Алтайский</th>
                <th>Башкирский</th>
                <th>Гагаузский</th>
                <th>Казахский</th>
                <th>Карачаево-балкарский</th>
                <th>Киргизский</th>
                <th>Крымскотатарский</th>
                <th>Кумыкский</th>
                <th>Ногайский</th>
                <th>Татарский</th>
                <th>Тувинский</th>
                <th>Турецкий</th>
                <th>Туркменский</th>
                <th>Узбекский (Кириллица)</th>
                <th>Узбекский (Латиница)</th>
                <th>Хакасский</th>
                <th>Чувашский</th>
                <th>Шорский</th>
                <th>Якутский (Саха)</th>
            </tr>
        </thead>
        <!-- Data from back-end -->
    </table>
</div> <!-- END // container -->
<br><br><br><br>



{% endblock content %}